<div class="products-row">
	
	<% @counter = 0 %>
	<% @counter = @counter%2 %>
	<% @foods.each do |food| %>
		<% if @counter == 1 %>
			<div class="col-xs-6 col-sm-4 product-grids">
				<div class="flip-container">
					<div class="flipper agile-products">
						<div class="front"> 
							<%= image_tag food.image1_url, class: "img-responsive"%>
							<div class="agile-product-text">              
								<h5><%= truncate(food.title, length: 9) %></h5>  
							</div> 
						</div>
						<div class="back">
							<h4><%= truncate(food.title, length: 9) %></h4>
							<p><%= food.title %></p>
							<h6><%= food.cost %><sup>TK</sup></h6>
							<a href="<%= food_path(food) %>">Details</a>
							<% if logged_in? %>
								<% if current_user.id == food.user_id%>
									<a href="<%= edit_food_path(food) %>">Edit</a>
								<% end %>
							<% end %>
							<p>
								<a href="<%= account_path(food.user) %>">
									<%= food.user.full_name %>
								</a>
							</p>
						</div>
					</div>
				</div> 
			</div> 
		<% else %>
			<div class="col-xs-6 col-sm-4 product-grids">
				<div class="flip-container">
					<div class="flipper agile-products">
						<div class="front"> 
							<div class="agile-product-text agile-product-text2">              
								<h5><%= truncate(food.title, length: 9) %></h5>  
							</div> 
							
							<%= image_tag food.image1_url, class: "img-responsive"%>
						</div>
						<div class="back">
							<h4><%= truncate(food.title, length: 9) %></h4>
							<p><%= food.title %></p>
							<h6><%= food.cost %><sup>TK</sup></h6>
							<a href="<%= food_path(food) %>">Details</a>
							<% if logged_in? %>
								<% if current_user.id == food.user_id%>
									<a href="<%= edit_food_path(food) %>">Edit</a>
								<% end %>
							<% end %>
							<p>
								<a href="<%= account_path(food.user) %>">
									<%= food.user.full_name %>
								</a>
							</p>
						</div>
					</div>
				</div> 
			</div>
		<% end %>

		<% @counter += 1 %>
	<% end %>
	<div class="clearfix"></div>
	
</div>

<div id="loading" style="display: none; left: 59%; position: fixed; top: 50%;">
    <%= image_tag "ajax-loader.gif" %>
</div>