<%provide(:title, "Edit Delecious Food")%>
<!-- breadcrumb -->  
	<div class="container">	
		<ol class="breadcrumb w3l-crumbs">
			<li><a href="<%= root_url %>"><i class="fa fa-home"></i> Home</a></li> 
			<li class="active">Food</li>
		</ol>
	</div>
	<!-- //breadcrumb -->
	<div class="login-page about">
		<%= image_tag "img3.jpg", class: "login-w3img" %>
		<div class="container"> 
			<h3 class="w3ls-title w3ls-title1">Create Delecious Food</h3>  
			<div class="login-agileinfo"> 
				<%= form_for @food, url: food_path do |f| %>

					<%= f.text_field :title, class: "form-control", placeholder: "Title", required: true %>

					<%= f.text_area :description, class: "redactor", placeholder: "Description", required: true %>
					
					<%= f.text_field :cost, class: "form-control", placeholder: "Cost", required: true %>
					
					<%= f.select :location, [['Sylhet','Sylhet'],['Dhaka','Dhaka'],['Khulna','Khulna'],['Rajshahi','Rajshahi'],['Chittagong','Chittagong'],['Barisal','Barisal'],['Rangpur', 'Rangpur'], ['Mymensingh', 'Mymensingh']],{}, class: 'form-control'%>
					
					<%= f.select :food_type, [['Food Type',''],['Breakfast','Breakfast'],['Lunch','Lunch'],['Dinner','Dinner']],{}, class: 'form-control'%>
					
					<%= f.text_field :restaurant, class: "form-control", placeholder: "Restaurant Name", required: true %>
					
					<%= f.text_field :restaurant_web, class: "form-control", placeholder: "Restaurant URL", required: true %>
					
					<%= f.text_area :directions, class: "redactor", placeholder: "Directions" %>
					
					<%= f.text_field :nutrition, class: "form-control", placeholder: "Nutrition" %>
					
					<%= f.text_field :calorie, class: "form-control", placeholder: "Calorie" %>
					
					<img id="img_prev1" width=90 height=90 src="#" class="img-thumbnail hidden"/> 
					<img id="img_prev2" width=90 height=90 src="#" class="img-thumbnail hidden"/>
					<img id="img_prev3" width=90 height=90 src="#" class="img-thumbnail hidden"/>
					
					<br/>
					
					<div id="browse1" class="browse">Image1</div>
					<div id="browse2" class="browse">Image2</div>
					<div id="browse3" class="browse">Image3</div>
					
					<%= f.file_field :image1, style: "display:none", id: "avatar-upload1" %>
					<%= f.file_field :image2, style: "display:none", id: "avatar-upload2" %>
					<%= f.file_field :image3, style: "display:none", id: "avatar-upload3" %>

					<%= f.submit 'Update Delecious Food' %>
				<% end %>
			</div>	 
		</div>
	</div>