<div class="products-row">
    <% @counter = 0 %>
	<% @counter = @counter%2 %>
    <% @users.each do |user| %>
    <% if @counter == 1 %>
		<div class="col-xs-6 col-sm-4 product-grids">
			<div class="flip-container">
				<div class="flipper agile-products">
					<div class="front"> 
					    <% if user.image.blank? %>
					        
					        <%= image_tag "user.png", class: "img-responsive" %>
					    <% else %>
						    <%= image_tag user.image_url(:thumb), class: "img-responsive" %>
						<% end %>
						<div class="agile-product-text">              
							<h5><%= truncate(user.full_name, length: 10) %></h5>  
						</div> 
					</div>
					<div class="back">
						<h4><%= user.full_name %></h4>
						<p>Maecenas condimentum interdum lacus, ac varius nisl.</p>
						<h6><%= user.foods.count %><sup>Posts</sup></h6>
							<a href="<%= account_path(user) %>">Details</a>
					</div>
				</div>
			</div> 
		</div> 
		<% else %>
			<div class="col-xs-6 col-sm-4 product-grids">
				<div class="flip-container">
					<div class="flipper agile-products">
						<div class="front"> 
							<div class="agile-product-text">              
								<h5><%= truncate(user.full_name, length: 10) %></h5>  
							</div> 
							<% if user.image.blank? %>
						        
						        <%= image_tag "user.png", class: "img-responsive" %>
						    <% else %>
							    <%= image_tag user.image_url(:thumb), class: "img-responsive" %>
							<% end %>
						</div>
						<div class="back">
							<h4><%= user.full_name %></h4>
							<p>Maecenas condimentum interdum lacus, ac varius nisl.</p>
							<h6><%= user.foods.count %><sup>Posts</sup></h6>
							<a href=" <%= account_path(user) %> ">Details</a>
						</div>
					</div>
				</div> 
			</div>
		<% end %>

		<% @counter += 1 %>
		
	<% end %>
	
	<div class="clearfix"> </div>
</div>

<div id="loading" style="display: none; left: 59%; position: fixed; top: 50%;">
    <%= image_tag "ajax-loader.gif" %>
</div>