    <div id="message">
		<%= render partial: "flash/flash" %>
	</div>
	<!-- sign up-page -->
	<div class="login-page about">
		<div class="container"> 
			<h3 class="w3ls-title w3ls-title1">Profile</h3>  
			<div class="col-md-12" style="box-shadow: 0 0 14px 7px rgba(224, 224, 224, 0.5);margin: 3.5em auto 1em;padding: 1em 3em 2.5em;"> 
				    
			    <table class="table"> 
				    <thead> 
				    	<tr> 
				    		 <th>Name</th> 
				    		 <th>Email</th> 
				    		 <th>Phone</th> 
				    		 <th>Location</th> 
				    		 <th>Gender</th> 
				    		 <th>Date of Birth</th> 
				    		 <th>Country</th> 
				    		 <th>Religion</th> 
				    	</tr> 
				    </thead> 
				    <tbody> 
				    	<tr> 
				    		<td style="cursor: pointer;">
				    			<% if current_user %>
					    			<%= best_in_place @user, :full_name, as: :input, 
					    				ok_button: "&#x2713;".html_safe, 
					    				cancel_button: '&#x2715;'.html_safe, 
					    				inner_class: "form-control", 
					    				ok_button_class: "btn btn-success", 
					    				cancel_button_class: "btn btn-danger", 
					    				url: account_path(current_user) %> 
				    				<% else %>
				    					<%= @user.full_name %>
				    				<% end %>
				    		</td> 
				    		<td style="cursor: pointer;">
				    			<% if current_user %>
					    			<%= best_in_place @user, :email, as: :input, 
					    				ok_button: "&#x2713;".html_safe, 
					    				cancel_button: '&#x2715;'.html_safe, 
					    				inner_class: "form-control", 
					    				ok_button_class: "btn btn-success", 
					    				cancel_button_class: "btn btn-danger", 
					    				url: account_path(current_user) %>
				    				<% else %>
				    					<%= @user.email %>
				    				<% end %>
				    		</td> 
				    		<td style="cursor: pointer;">
				    			<% if current_user %>
					    			<%= best_in_place @user, :phone, as: :input, 
					    				ok_button: "&#x2713;".html_safe, 
					    				cancel_button: '&#x2715;'.html_safe, 
					    				inner_class: "form-control", 
					    				ok_button_class: "btn btn-success", 
					    				cancel_button_class: "btn btn-danger", 
					    				url: account_path(current_user) %>
				    				<% else %>
				    					<%= @user.phone %>
				    				<% end %>
				    		</td> 
				    		<td style="cursor: pointer;">
				    			<% if current_user %>
					    			<%= best_in_place @user, :address, as: :textarea, 
					    				ok_button: "&#x2713;".html_safe, 
					    				cancel_button: '&#x2715;'.html_safe, 
					    				inner_class: "form-control", 
					    				ok_button_class: "btn btn-success", 
					    				cancel_button_class: "btn btn-danger", 
					    				url: account_path(current_user) %>
				    				<% else %>
				    					<%= @user.address %>
				    				<% end %>
				    		</td> 
				    		<td style="cursor: pointer;">
				    			<% if current_user %>
					    			<%= best_in_place @user, :gender, as: :select, 
					    				collection: [['Male', 'Male'], ['Female', 'Female']], 
					    				place_holder: "Add content!", 
					    				ok_button: "&#x2713;".html_safe, 
					    				cancel_button: '&#x2715;'.html_safe, 
					    				inner_class: "form-control", 
					    				url: account_path(current_user) %>
				    				<% else %>
				    					<%= @user.gender %>
				    				<% end %>
				    		</td> 
				    		<td style="cursor: pointer;">
				    			<% if current_user %>
					    			<%= best_in_place @user, :dob, as: :input, 
					    				place_holder: "Add content!", 
					    				ok_button: "&#x2713;".html_safe, 
					    				cancel_button: '&#x2715;'.html_safe, 
					    				inner_class: "form-control", 
					    				ok_button_class: "btn btn-success", 
					    				cancel_button_class: "btn btn-danger", 
					    				id: "date_input",
					    				url: account_path(current_user) %>
				    				<% else %>
				    					<%= @user.dob %>
				    				<% end %>
				    		</td>
				    		<td style="cursor: pointer;">
				    			<% if current_user %>
					    			<%= best_in_place @user, :nationality, as: :input, 
					    				place_holder: "Add content!", 
					    				ok_button: "&#x2713;".html_safe, 
					    				cancel_button: '&#x2715;'.html_safe, 
					    				inner_class: "form-control", 
					    				ok_button_class: "btn btn-success", 
					    				cancel_button_class: "btn btn-danger", 
					    				url: account_path(current_user) %>
				    				<% else %>
				    					<%= @user.nationality %>
				    				<% end %>
				    		</td>
				    		<td style="cursor: pointer;">
				    			<% if current_user %>
					    			<%= best_in_place @user, :religion, as: :select, 
					    				place_holder: "Add content!", 
					    				collection: [['Islam', 'Islam'], ['Other', 'Other'], ['N/A', 'N/A']], 
					    				inner_class: "form-control",
					    				url: account_path(current_user) %>
			    				<% else %>
			    					<%= @user.religion %>
			    				<% end %>
				    		</td>
				    	</tr> 
				    </tbody> 
			   	</table>
				
			</div>	 
		</div>
	</div>