<%provide(:title, @user.full_name)%>
<!-- breadcrumb -->  
	<div class="container">	
		<ol class="breadcrumb w3l-crumbs">
			<li><a href="<%= root_url %>"><i class="fa fa-home"></i> Home</a></li> 
			<li class="active">Profile</li>
		</ol>
	</div>
	<!-- //breadcrumb -->
	<!-- sign up-page -->
	<div class="login-page about">
		<%= image_tag "img3.jpg", class: "login-w3img" %>
		<div class="container"> 
			<h3 class="w3ls-title w3ls-title1">Update your account</h3>  
			<div class="login-agileinfo"> 
			
				    <%= @user.full_name %>
				    <%= @user.email %>
				    <%= @user.phone %>
				    <%= @user.address %>
				
			</div>	 
		</div>
	</div>
